TaxiHost/bin/Debug/Akka.Remote.xml
TaxiHost/bin/Debug/Akka.xml
TaxiHost/bin/Debug/Google.ProtocolBuffers.Serialization.xml
TaxiHost/bin/Debug/Google.ProtocolBuffers.xml
TaxiHost/bin/Debug/Newtonsoft.Json.xml
TaxiHost/bin/Debug/TaxiHost.exe.config
TaxiHost/bin/Debug/TaxiHost.vshost.exe.config
TaxiHost/obj/Debug/TaxiHost.csproj.FileListAbsolute.txt
TaxiHost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaxiHost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaxiHost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Google.ProtocolBuffers.2.4.1.521/content/CHANGES.txt
packages/Google.ProtocolBuffers.2.4.1.521/content/licenses/license.txt
packages/Google.ProtocolBuffers.2.4.1.521/content/licenses/protoc-license.txt
packages/Google.ProtocolBuffers.2.4.1.521/content/protos/google/protobuf/csharp_options.proto
packages/Google.ProtocolBuffers.2.4.1.521/content/protos/google/protobuf/descriptor.proto
packages/Google.ProtocolBuffers.2.4.1.521/content/protos/tutorial/addressbook.proto
packages/Google.ProtocolBuffers.2.4.1.521/Google.ProtocolBuffers.2.4.1.521.nupkg
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf20/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf20/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf35/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf35/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net20/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net20/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net35/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net35/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net40/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/net40/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/portable-net40+sl4+sl5+wp7+wp8+win8/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/portable-net40+sl4+sl5+wp7+wp8+win8/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl20/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl20/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl30/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl30/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl40/Google.ProtocolBuffers.Serialization.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl40/Google.ProtocolBuffers.xml
packages/Google.ProtocolBuffers.2.4.1.521/tools/protoc-license.txt
packages/Google.ProtocolBuffers.2.4.1.521/tools/ProtoGen.exe.config
packages/Helios.1.4.0/Helios.1.4.0.nupkg
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
packages/Newtonsoft.Json.6.0.8/tools/install.ps1
Taxi.Shared/obj/Debug/Taxi.Shared.csproj.FileListAbsolute.txt
Taxi.Shared/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Taxi.Shared/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Taxi.Shared/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Akka.1.0.1/lib/net45/Akka.dll
packages/Akka.1.0.1/lib/net45/Akka.ExternalAnnotations.xml
packages/Akka.1.0.1/lib/net45/Akka.xml
packages/Akka.Remote.1.0.1/lib/net45/Akka.Remote.dll
packages/Akka.Remote.1.0.1/lib/net45/Akka.Remote.xml
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf20/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf20/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf35/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/cf35/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net20/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net20/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net35/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net35/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net40/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/net40/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/portable-net40+sl4+sl5+wp7+wp8+win8/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/portable-net40+sl4+sl5+wp7+wp8+win8/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl20/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl20/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl30/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl30/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl40/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/lib/sl40/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/tools/Google.ProtocolBuffers.dll
packages/Google.ProtocolBuffers.2.4.1.521/tools/Google.ProtocolBuffers.Serialization.dll
packages/Google.ProtocolBuffers.2.4.1.521/tools/ProtoBench.exe
packages/Google.ProtocolBuffers.2.4.1.521/tools/protoc.exe
packages/Google.ProtocolBuffers.2.4.1.521/tools/ProtoDump.exe
packages/Google.ProtocolBuffers.2.4.1.521/tools/ProtoGen.exe
packages/Google.ProtocolBuffers.2.4.1.521/tools/ProtoMunge.exe
packages/Helios.1.4.0/lib/net40/Helios.NET40.dll
packages/Helios.1.4.0/lib/net45/Helios.dll
packages/jQuery.1.6.4/Content/Scripts/jquery-1.6.4.js
packages/jQuery.1.6.4/Content/Scripts/jquery-1.6.4.min.js
packages/jQuery.1.6.4/Content/Scripts/jquery-1.6.4-vsdoc.js
packages/jQuery.1.6.4/jQuery.1.6.4.nupkg
packages/jQuery.1.6.4/Tools/install.ps1
packages/jQuery.1.6.4/Tools/jquery-1.6.4-vsdoc-para.js
packages/jQuery.1.6.4/Tools/uninstall.ps1
packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.2/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.2/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.2.2/Microsoft.AspNet.Mvc.5.2.2.nupkg
packages/Microsoft.AspNet.Razor.3.2.2/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.2/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.2.2/Microsoft.AspNet.Razor.3.2.2.nupkg
packages/Microsoft.AspNet.SignalR.2.2.0/Microsoft.AspNet.SignalR.2.2.0.nupkg
packages/Microsoft.AspNet.SignalR.2.2.0/readme.txt
packages/Microsoft.AspNet.SignalR.Core.2.2.0/lib/net45/Microsoft.AspNet.SignalR.Core.dll
packages/Microsoft.AspNet.SignalR.Core.2.2.0/lib/net45/Microsoft.AspNet.SignalR.Core.xml
packages/Microsoft.AspNet.SignalR.Core.2.2.0/Microsoft.AspNet.SignalR.Core.2.2.0.nupkg
packages/Microsoft.AspNet.SignalR.JS.2.2.0/content/Scripts/jquery.signalR-2.2.0.js
packages/Microsoft.AspNet.SignalR.JS.2.2.0/content/Scripts/jquery.signalR-2.2.0.min.js
packages/Microsoft.AspNet.SignalR.JS.2.2.0/Microsoft.AspNet.SignalR.JS.2.2.0.nupkg
packages/Microsoft.AspNet.SignalR.SystemWeb.2.2.0/lib/net45/Microsoft.AspNet.SignalR.SystemWeb.dll
packages/Microsoft.AspNet.SignalR.SystemWeb.2.2.0/lib/net45/Microsoft.AspNet.SignalR.SystemWeb.XML
packages/Microsoft.AspNet.SignalR.SystemWeb.2.2.0/Microsoft.AspNet.SignalR.SystemWeb.2.2.0.nupkg
packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.2.2/Microsoft.AspNet.WebPages.3.2.2.nupkg
packages/Microsoft.Owin.2.1.0/lib/net40/Microsoft.Owin.dll
packages/Microsoft.Owin.2.1.0/lib/net40/Microsoft.Owin.XML
packages/Microsoft.Owin.2.1.0/lib/net45/Microsoft.Owin.dll
packages/Microsoft.Owin.2.1.0/lib/net45/Microsoft.Owin.XML
packages/Microsoft.Owin.2.1.0/Microsoft.Owin.2.1.0.nupkg
packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net40/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.Host.SystemWeb.2.1.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.2.1.0/Microsoft.Owin.Host.SystemWeb.2.1.0.nupkg
packages/Microsoft.Owin.Security.2.1.0/lib/net45/Microsoft.Owin.Security.dll
packages/Microsoft.Owin.Security.2.1.0/lib/net45/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.2.1.0/Microsoft.Owin.Security.2.1.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
packages/Owin.1.0/lib/net40/Owin.dll
packages/Owin.1.0/Owin.1.0.nupkg
packages/Akka.1.0.1/lib/net45/Akka.ExternalAnnotations.xml
packages/Akka.1.0.1/lib/net45/Akka.xml
packages/Akka.Remote.1.0.1/lib/net45/Akka.Remote.xml
Taxi.Shared/bin/Debug/Akka.dll
Taxi.Shared/bin/Debug/Akka.xml
Taxi.Shared/bin/Debug/Newtonsoft.Json.dll
Taxi.Shared/bin/Debug/Taxi.Shared.dll
Taxi.Shared/bin/Debug/Taxi.Shared.pdb
Taxi.Shared/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Taxi.Shared/obj/Debug/Taxi.Shared.dll
Taxi.Shared/obj/Debug/Taxi.Shared.pdb
TaxiHost/bin/Debug/Akka.dll
TaxiHost/bin/Debug/Akka.Remote.dll
TaxiHost/bin/Debug/Google.ProtocolBuffers.dll
TaxiHost/bin/Debug/Google.ProtocolBuffers.Serialization.dll
TaxiHost/bin/Debug/Helios.dll
TaxiHost/bin/Debug/Newtonsoft.Json.dll
TaxiHost/bin/Debug/TaxiHost.exe
TaxiHost/bin/Debug/TaxiHost.pdb
TaxiHost/bin/Debug/TaxiHost.vshost.exe
TaxiHost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaxiHost/obj/Debug/TaxiHost.exe
TaxiHost/obj/Debug/TaxiHost.pdb
