<!DOCTYPE html>
<html>
<head>
   <title>I am a taxi driver man!</title>
   <style>
      html, body, #map-canvas {
         height: 100%;
         margin: 0px;
         padding: 0px;
      }
       #vehicles {
           position: absolute;
           top: 0;
           right: 0;
           height: 100%;
           margin-bottom: 0;
           overflow-y: scroll;
           width: 200px;
       }
       #vehicles ul{
           opacity: 1;
       }
   </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/knockout-es5.js"></script>
    <script src="~/App/MovingVehicle.js"></script>
    <script src="~/App/PositionClient.js"></script>
    <script src="~/App/Interfaces.js"></script>
    <script src="~/App/App.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
    var app = new App.Application();

    $(function () {
        app.init();
        ko.applyBindings(app, document.body);
    });
    </script>

</head>
<body>
   <div id="map-canvas"></div>
    <div id="vehicles" data-bind="with: client" class="panel panel-default">
        <div class="input-group">
            <input type="text" data-bind="value: searchText, valueUpdate: 'input'" class="form-control" placeholder="Search for...">
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group"><button class="btn btn-default" data-bind="
    css: {'btn-success': isIncluded(App.GpsStatus.active) },
    click: function() { toggleStatus(App.GpsStatus.active);}">
    <span class="glyphicon glyphicon-ok-circle"></span>
</button>     
            </div>
            <div class="btn-group" role="group"><button class="btn btn-default" data-bind="
    css: {'btn-success': isIncluded(App.GpsStatus.inactive) },
    click: function() { toggleStatus(App.GpsStatus.inactive);}">
    <span class="glyphicon glyphicon-ban-circle"></span>
</button>  
            </div>
            <div class="btn-group" role="group"><button class="btn btn-default" data-bind="
    css: {'btn-success': isIncluded(App.GpsStatus.parked) },
    click: function() { toggleStatus(App.GpsStatus.parked);}">
    <span class="glyphicon glyphicon-remove-circle"></span>
</button> 
            </div>
            <div class="btn-group" role="group"><button class="btn btn-default" data-bind="
    css: {'btn-success': isIncluded(null) },
    click: function() { toggleStatus(null);}">
    <span class="glyphicon glyphicon-eye-close"></span>
</button>    
            </div>
        </div>
        <ul data-bind="foreach: sources" class="nav nav-pills nav-stacked">
            <li><a href="" data-bind="click: $parent.toggleSource">
                <span data-bind="text: $data"></span>
                    <span class="glyphicon pull-right" data-bind="css: { 'glyphicon-ok': $parent.isSourceJoined($data) === false, 'glyphicon-remove': $parent.isSourceJoined($data)  }"></span>
            </a></li>
        </ul>
        <ul data-bind="foreach: orderedVehicles" class="nav nav-pills nav-stacked">
            <li>
                <a href="" data-bind="click: onClick">
                    <span data-bind="text: id"></span>
                    <span class="glyphicon pull-right" aria-hidden="true" data-bind="css: {
    'glyphicon-ok-circle text-success': isActive,
    'glyphicon-ban-circle text-danger': isInactive,
    'glyphicon-remove-circle text-muted': isParked,
    'glyphicon-eye-close text-muted': isNoState
}"></span>
                </a>

            </li>
            <li data-bind="if: expanded">
                <button class="btn btn-default" data-bind="click: toggleDrawLine">
                    <span class="glyphicon glyphicon-screenshot" data-bind="css: { 'text-success': drawingLine, 'text-danger': drawingLine === false }"></span>
                    Track
                </button>
                <button class="btn btn-default" data-bind="click: toggleShowInfo">
                    <span class="glyphicon glyphicon-map-marker" data-bind="css: { 'text-success': showingInfo, 'text-danger': showingInfo === false }"></span>
                    Show
                </button>
            </li>
        </ul>
    </div>
</body>
</html>